
.container {
    max-width: 1000px;
    margin: 30px auto;
    overflow: auto;
    min-height: 300px;
    border: 1px solid steelblue;
    padding: 30px;
    border-radius: 5px;
  }


  .btn {
    display: inline-block;
    background: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
  }

  html {
    font-family: system-ui, sans-serif;
    font-size: 1.25rem;
  }
  
  body {
    margin: 0;
    padding: 0 1.5rem;
  }
  
  svg {
    display: inline-block;
    vertical-align: middle;
  }